###############################################################################
# Ignore IDE specific settings
###############################################################################
.vscode/

###############################################################################
# Ignore node files
###############################################################################
node_modules/

###############################################################################
# Ignore VuePress build, temp and cache files
###############################################################################
docs/.vuepress/dist
.temp
.cache
